# Ignore everything
*

# Ignore Code directory
Code/

# Allow these files/directories
!.gitignore
!nvim/
!nvim/**
!wezterm/
!wezterm/**
!README.md

# Allow directories so nvim/, wezterm/ contents are checked
#!*/
